/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App{
  background-color: azure;
}

.container{
  display: flex;
  min-height: 100vh;
}

.container .row:first-child{
  width: 300px;
  border-right: 1px solid #cccccc;
}
.container .row:last-child {
  width: 100%;
}

.container .row:last-child .col:first-child {
  height: 80px;
  border-bottom: 1px solid #cccccc;
}

.active {
  letter-spacing: 2px;
  /* color: rgb(7, 124, 124); */
  /* background-color: black; */
  border-radius: 5px;
  font-weight: bold;
}

.s-logo{
  font-size: 40px;
  text-align: center;
  color: gray;
  margin: 20px 0;
  font-family: 'Courier New', Courier, monospace;}

.s-groups{
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #23b8ea; */
  height: 100vh;
}

.s-group{
  padding: 25px;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  /* background-color: #2e7289; */
}

.s-group .s-link{
  text-transform: uppercase;
  color: gray;
}

/* NavLink{
  width: 100%;
  height: 100%;
} */

.s-group .s-link::before{
  content: "\26AA";
  vertical-align: middle;
  padding-right: 5px;
}

.s-group .s-link.active::before{
  content: "\26AB";
  vertical-align: top;
  letter-spacing: 5px;
    /* background-color: #9ac4d1; */
}

.l-container{
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.l-container .l-row{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-container form{
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px gray;
}

.l-groups{
  padding: 0 15px 15px;
}

.l-title{
  text-align: center;
  margin: 20px 0 50px 0;
  font-size: 40px;
  color: gray;
}

.l-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.l-group label{
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.l-group input {
  height: 40px;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0 15px;
  outline: none;
  letter-spacing: 2px;
}

.l-btn{
  display: block;
  margin: 40px auto 15px auto;
  width: max-content;
  padding: 5px 15px;
  border: none;
  box-shadow: 0 0 3px #000000;
  font-size: 20px;
  background-color: transparent;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.l-btn:hover{
  background-color: gray;
  color: #fff;
}

.d-row:last-child{
  margin-top: 40px;
}

.d-title{
  font-family: 'Courier New', Courier, monospace;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color:gray;
  letter-spacing: 1px;
}

.d-groups{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.d-group{
  width: 200px;
  height: 150px;
  box-shadow: 0 0 4px gray;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-badge{
  position: absolute;
  top: 10px;
  left: 0;
  padding: 15px 20px;
  background-color: rgba(75, 192, 192, 0.2);
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.d-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s all;
  cursor: pointer;
}

.d-content svg{
  font-size: 40px;
  color: #cccccc;
  margin-bottom: 5px;
  transition: 1s all;
}

.d-content:hover svg{
  color: #445147;
}

.d-subtitle{
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.d-subtitle:hover {
  color: #445147;
}

.d-row:nth-child(3){
  margin-bottom: 40px;
}

.d-charts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.d-chart{
  width: 500px;
  height: 400px;
}

.pr-container{
  padding: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

.t-container{
  height: 100%;
}

.t-row{
  height: 100%;
}

.t-link{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.t-logout{
  margin: 0 25px;
  cursor: pointer;
  transition: 0.5s all;
  color: gray;
}

.t-settings{
  transition: 0.5s all;
  color: gray
}

.t-settings:hover,
.t-logout:hover{
  color: #000000;
}

.t-link svg{
  vertical-align: text-bottom;
}

.u-container{
  padding: 15px 25px;
}

.u-row:first-child{
  display: flex;
  justify-content: space-between;
}

.u-btn{
  background-color: transparent;
  padding: 5px 10px;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s;
  box-shadow: 0 0 4px gray;
  font-weight: 500;
  color: rgb(99, 98, 98);
  border-radius: 2px;
  width: 100px;
  height: 30px;
  margin-bottom: 50px;
}

.u-btn:hover{
  background-color: gray;
  color: #cccccc;
}

.u-row:nth-child(2){
  margin-top: 50px;
}

.quick-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #0000001e;
  opacity: 1;
  
}

.card-quick{
  width: 600px;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 10px;
  opacity: 1;
}

.card-row{
  margin-bottom: 40px;
  width: 100%;
}

.back{
  padding: 5px 25px;
  background-color: #000000;
  color: #fff;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: unset !important;
}

.back:hover{
  transform: translateY(-5px);
}

.add{
  /* display: block;
  margin: 0 auto;
  padding: 5px 25px;
  color: gray;
  transition: all 0.5s; */
  /* display: flex; */
  background-color: transparent;
    padding: 5px 10px;
    text-transform: uppercase;
    border: none;
    transition: all 0.5s;
    box-shadow: 0 0 4px rgb(1, 1, 1);
    font-weight: 500;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    width: 100px;
    height: 30px;
    font-weight: 700;
    /* margin-bottom: 50px; */
}

.add:hover{
  color: white !important;
  background-color: rgb(10, 10, 10);
}

.formAdd{
  display: flex;
  align-items: center;
}

.card-flex:not(first-child){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-row input{
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 0 15px;
}

.card-flex:first-child .card-row input{
  width: 540px;
}
.card-row input:not(first-child){
  width: 250px;
}

.card-row select{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: gray;
}

.u-badge{
  height: 100px;
  width: 200px;
  box-shadow: 0 0 4px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  font-family: Arial,
    Helvetica,
    sans-serif;
    border-radius: 8px;
}

.u-total{
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: gray;
}